@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    background-color: rgb(28, 28, 28);
    width: 100%;
}

header .container span{
    font-family: Pacifico;
    padding: 20px;
    display: inline-block;
    font-size: 1.75em;
    color: rgb(229, 71, 75);
}

header .container nav{
    float: right;
}

header .container nav ul{
    list-style-type: none;
}

header .container nav ul li{
    display: inline-block;
}

header .container nav ul li a{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Open Sans';
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 20px;
    color: #fff;
    font-weight: 300;
}

header .container nav ul li a:hover{
    color: #ccc;
    transition: 0.5s;
}

.banner{
    height: 87vh;
    background-image: url('../imagens/banner.jpg');
    background-size: cover;
    background-position: center; 
}